<!-- Services Section -->
    <section id="achievements">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Achievements</h2>
                    <h3 class="section-subheading text-muted">Accomplishments from the companies in the Capstone this year</h3>
                    <h4 class="service-heading"><center>New Venture Challenge</center></h4>
                </div>
            </div>
          <center>
            <div class="col-md-6 text-center">
                <span class="fa-stack fa-4x">
    <!--                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>   -->
                </span>
<!--                <h4 class="service-heading"><center>New Venture Challenge</center></h4>-->
                <p class="text-muted">Out of a total of 15 teams from class that competed in the NVC IT track semi-finals, 3 of our teams made it to the <a href="http://www.colorado.edu/nvc/" target="_blank">NVC</a> IT Track Finals<br><strong>&bull;  BeautiBook</strong> went on to win the <a href="http://www.colorado.edu/nvc/" target="_blank">NVC</a> IT Track Finals and they were awarded <strong>$2,000</strong> to use to further their company.<br>
                    <strong>&bull;  Hearth</strong> placed 3rd in the NVC IT Track Finals and was awarded<strong>$750</strong> to further their company<br><strong>&bull;  Ticket Buffs</strong> was awarded<strong>$500</strong> to further their company<br><br><strong>Lambda Leaf</strong> placed 3rd in the NVC Research Track Finals and was awarded<strong>$1000</strong> to further their company.</p>
            </div>

            <div class="col-md-6 text-center">
                <span class="fa-stack fa-4x">
    <!--                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>   -->
                </span>
<!--                <h4 class="service-heading"><center>New Venture Challenge</center></h4>-->
                <style>
                  img.resize {
                    width:240px;
                    height:320px;

                  }
                </style>
                <img class = "resize" src="img/Beautibook-NVC.jpeg" alt="BeautiBook won 3rd place in NVC Championships" width>
                <p class="text-muted"><strong>BeautiBook won 3rd place in NVC Championships</strong></p>
            </div>

          </center>
<!--
            <div class="col-md-6 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Revenue Generating</h4>
                <p class="text-muted">Some companies were focused on non-revenue generating ideas, while others made money. One company created in the Capstone brought in over <strong>$2,000</strong> in revenue.</p>
            </div>
            <div class="col-md-6 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Computer Science Senior Expo</h4>
                <p class="text-muted">Best Poster: 1st - The Grower, 2nd - Crawlr<br>
                                      Best Demo: 2nd - StuffSanity<br>
                                      Best Technical Communication: 2nd - Almond</p>
            </div>
            <div class="col-md-6 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Catalyze CU</h4>
                <p class="text-muted">Glimpse has been accepted to the equity free <a href="http://catalyzecu.com/" target="_blank">Catalyze CU Accelerator</a> program.</p>
            </div>
-------->
        </div>
    </section>
