!-- Services Section -->
    <section id="achievements">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Achievements</h2>
                    <h3 class="section-subheading text-muted">Accomplishments from the companies in the Capstone the year 2019-2020</h3>
                    <h4 class="service-heading"><center> CU New Venture Challenge</center></h4>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
          <center>
            <div class="col-md-6 text-center">

<!--                <h4 class="service-heading"><center>New Venture Challenge</center></h4>-->
                <p class="text-muted"><h4 class="service-heading">AI arena, Techucate and ZeroIn made it to round 2 of CU new venture challenge.</h4>Out of a total of 150 teams that competed in the NVC IT round 1, 3 of our teams made it to the <a href="http://www.colorado.edu/nvc/" target="_blank">NVC</a> IT Round 2.

            
                
            </div>

          </center>

            <div class="col-md-6 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                <h4 class="service-heading">Boulder Boomtown Accelerator</h4>
                <p class="text-muted">Congratulations to Chase Dudas and ZeroIn on being admitted to Boulder's Boomtown accelerator.
            </div>
