<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#achievements">Achievements</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Companies</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#timeline">Time Line</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#instructors">Instructors</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <style>
    .button {
        background-color: #4CAF50; /* Green */
        border: 1px;
        border-radius: 15px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    </style>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Computer Science Entrepreneurial Capstone at the University of Colorado Boulder</div>
                <a href="https://giving.cu.edu/fund/computer-science-senior-entrepreneurial-capstone-fund" class="page-scroll btn btn-xl" target="_blank"><strong>&#36;</strong> Donate</a>
<!--                    <button type="button" class="button" data-toggle="modal" data-target="#myModal"><strong>&#36;</strong> Donate</button> -->
            </div>
        </div>
    </header>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Instructions to Donate to CS Entrepreneurial Capstone</strong></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <p> <strong>&bull;</strong>  On the donate page, select or enter the amount you wish to give, and whether or not this gift is in memory or in honor of someone.<br>
              <strong>&bull;</strong>  Add the gift to your Gift Basket and continue browsing, or click “Give Now” to complete your donation.<br>
              <strong>&bull;  Please make sure you enter "13403130 Han CS Sr Entrepreneurial Capstone, CU Foundation: 0125610" in the comments section of the form.</strong>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="button" onclick="window.open('https://giving.cu.edu/fund/write-fund','_blank')">Continue</button>
          </div>
        </div>

      </div>
    </div>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
