<!-- Team Section -->
    <section id="instructors" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instructors</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="" width="225" height="225">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}" target="_blank">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-6 text-center">
                <h4>Joshua Abdulla</h4>
                <p class="text-muted"> Faculty Member - Department of Computer Science</p>
            </div>
            
        </div>
    </section>
