<section id="portfolio" class="portfolio back-n">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="row">
        <h2>Outloud wins $1000 at the 2016 NVC Championships!</h2>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="">
                <img class="img-portfolio img-responsive" src="img/nvc_outloud_1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank"  href="http://ascentrobotics.com">
                <img class="img-portfolio img-responsive" src="img/nvc_outloud_2.jpg">
              </a>
            </div>
          </div>
          <!-- /.row  -->
        </div>
        <h2>Dive Coding wins the Galvanize Prize!</h2>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
