<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Capstone projects 2016</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="http://betandem.com">
                <img class="img-portfolio img-responsive" src="img/betandem-logo.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank"  href="http://ascentrobotics.com">
                <img class="img-portfolio img-responsive" src="img/ascent.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="http://divecoding.github.io/">
                <img class="img-portfolio img-responsive" src="img/divecoding.png">
              </a>
            </div>
          </div>
<!--           <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank"  href="http://workit.strikingly.com">
                <img class="img-portfolio img-responsive" src="img/Workit_logo.png">
              </a>
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="portfolio-item">
              <a target="_blank" href="http://outloud.io">
                <img class="img-portfolio img-responsive" src="img/outloud.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
