<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Time Line</h2>
                    <h3 class="section-subheading text-muted">Rough layout of the 2016-2107 year long capstone</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/teams.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August</h4>
                                    <h4 class="subheading">Form Teams</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Within the first few weeks of class, students pitch ideas to each other and with the goal of forming teams. Some students come to class with multiple ideas, while others come with just one. Students self select there teams, however students may switch of leave teams throughout the year.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/idea.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September - October</h4>
                                    <h4 class="subheading">Idea Validation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once students form teams, they are taught to go out and validate there ideas. Students are encouraged not to build products or MVPs. Students go through the steps of learning how to validate not only idea/market fit, but founder/market fit. The thought of idea validation is present through the Capstone.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/pitch.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November - December</h4>
                                    <h4 class="subheading">MVP Creation & Pitch Practice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Now that students have validated there ideas, they are encouraged to create MVPs to test the assumptions that they have made about their business. They also learn and practice how to present there business to others. At the end of the first semester they present to a group of industry professionals from all across Boulder.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ramping.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January - March</h4>
                                    <h4 class="subheading">Ramping Up</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Students spend the seconds semester building out their products. To assist in this numerous industry professionals are brought in to teach about marketing, tax law, intellectual property, scaling, hiring, and more. Throughout the semester students practice their pitches in preparation of the <a href="http://www.colorado.edu/nvc/" target="_blank">CU NVC</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="http://www.cs.colorado.edu/~rhan/CSCI_4358_5350_Spring_2017/Syllabus%20CSCI%204358_5350%20Entrepreneurial%20Projects%20II.html" target="_blank" style="color: #fff;">Learn<br>More</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>