<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    <div class="previous_years">
        View Previous Years:
        <a href="http://custartupcapstone.com/2015-2016/" target="_blank">2015/16</a>
    </div>

    {% include header.html %}
    {% include about.html %}
    {% include achievements.html %}
    {% include companies_grid.html %}
    {% include timeline.html %}
    {% include instructors.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    {% include ga.html %}
    </body>
</html>
