<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    <div class="previous_years">
        View Previous Years:
        <a href="http://custartupcapstone.com/2017-2018/" target="_blank"><strong>2017/18</strong></a>&emsp;
        <a href="http://custartupcapstone.com/2016-2017/" target="_blank"><strong>2016/17</strong></a>&emsp;
        <a href="http://custartupcapstone.com/2015-2016/" target="_blank"><strong>2015/16</strong></a>
    </div>

    {% include header.html %}
    {% include about.html %}
    {% include achievements.html %}
    {% include companies_grid.html %}
    {% include timeline.html %}
    {% include instructors.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    {% include ga.html %}
    </body>
</html>
